.cm-editor{
    max-height: 500px;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
    background-color: #1E1E1E;
    border-radius: 5px;
}

.cm-gutter{
    background-color: #1E1E1E;
    color: #808080;
}

.react-confirm-alert-overlay{
    background-color: rgba(0,0,0,0.8);
}

.copy{
    z-index: 9999;
    right: 0;
    top: 0;
    cursor: pointer;
}
